
.txt h2
{
margin-bottom: 20px;
font-weight: 400;
}
.item
{
  width:500px;
  height:300px;
}
.gallary img {
  width: 100px;
  height: 100px;
}
  
  
 
 
  .owl-carousel .owl-next,
.owl-carousel .owl-prev {
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 35%;
  background: white !important;
  transition: 0.5s;
}

.owl-carousel .owl-prev {
  left: 33px;
}

.owl-carousel .owl-next {
  right: 33px;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
  background: #C1B086 !important;
}

  